<div class="cardmain">
  <div class="bodyfull  card text-bg-primary mb-8 m-10" style="max-width: 18rem;" >
    <div class="card-header" ><h1>{{city}}</h1>
    <p><img src="{{icon}}" alt="WeatherImage"></p></div>
    <div class="card-body">
      <p class="card-text">Summary :: {{summary}}</p>
      <p class="card-text">Temperature :: {{temperature}} C</p>
      <p class="card-text">Feels Like :: {{feelsLikeTemp}} C</p>

      <p class="card-text">Pressur :: {{pressure}} hpa</p>
      <p class="card-text">Humdity :: {{humdity}}%</p>
    </div>
  </div>
</div>
